// USER VARIABLES SECTION

$accent: #ffa500; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;
$theme-colors: (
  "main-light": #ebecee,
  "main-dark": #101010
);

// IMPORT SECTION

@import "../../node_modules/bootstrap/scss/bootstrap";



// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: local($fname), url($furl) format('woff2');
	}
}
@mixin main-button {
	border: none;
	padding: 15px 50px;
	background-color: white;
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #333333;
	font-weight: 700;
	font-family: "Ubuntu";
	text-align: center;
}



@include font('Ubuntu', normal, 300, '../../fonts/ubuntu-latin-regular.woff2');
@include font('Lato', normal, 300, '../../fonts/lato-regular.woff2');
// GENERAL DOCUMENT STYLES
.header1{
	font-size: 60px;
	@media screen and (max-width: 1510px){
		font-size: 45px;	
	}
}
.header2{
	font-size: 48px;
	@media screen and (max-width: 1510px){
		font-size: 36px;	
	}
}
.header3{
	font-size: 30px;
	@media screen and (max-width: 1510px){
		font-size: 30px;	
	}
}
.text{
	font-size: 14px;
	@media screen and (max-width: 1510px){
		font-size: 14px;	
	}
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $roboto;
	font-size: $fontsize;
	// min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}

.new-navbar-toggler {
	padding: 0;
	@include font-size($navbar-toggler-font-size);
	line-height: 1;
	background-color: transparent;
	border: none;
	@include hover-focus() {
	  text-decoration: none;
	}
  }

.new-navbar-toggler-icon {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;

	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: url("../../svg/logo.svg");
	
  }

  .new-carousel-control-prev,
  .new-carousel-control-next {
	margin: 0 auto;
	padding: 10px;
	display: inline-block;
	align-items: center;
	justify-content: center;
	width: 30px;
	background: none;
	text-align: center;
	opacity: $carousel-control-opacity;
	@include transition($carousel-control-transition);
  
	// Hover/focus state
	@include hover-focus() {
	  color: $carousel-control-color;
	  text-decoration: none;
	  outline: 0;
	  opacity: $carousel-control-hover-opacity;
	}
  }
  
  .new-carousel-control-prev-icon,
  .new-carousel-control-next-icon {
	display: inline-block;
	width: $carousel-control-icon-width;
	height: $carousel-control-icon-width;
	background: no-repeat 50% / 100% 100%;
  }
  .new-carousel-control-prev-icon {
	background-image: url("../../svg/prew-icon.svg");
  }
  .new-carousel-control-next-icon {
	background-image: url("../../svg/next-icon.svg");
  } 


