// USER VARIABLES SECTION

$accent: #ffa500; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family


// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;
$theme-colors: (
  "main-light": #ebecee,
  "main-dark": #101010
);

// IMPORT SECTION

@import "../../node_modules/bootstrap/scss/bootstrap";



// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}
@mixin main-button {
	border: none;
	padding: 15px 50px;
	background-color: white;
	text-align: center;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');
@include font('Ubuntu', normal, 300, '../fonts/ubuntu-v14-latin-regular.woff2');
// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $roboto;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}

.my-navbar-toggler {
	padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
	@include font-size($navbar-toggler-font-size);
	line-height: 1;
	background-color: transparent; // remove default button style
	 // remove default button style
	// @include border-radius($navbar-toggler-border-radius);
	border: none;
	@include hover-focus() {
	  text-decoration: none;
	}
  }

.my-navbar-toggler-icon {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: url(/img/logo.svg);
	
  }
