@import 'config';

// CUSTOM USER STYLES & IMPORTS
*{
    font-family: "Ubuntu";
}
    //Header
.header{
    position: relative;
    background-color: rgb(235, 236, 238);
    width: 100%;
    
       
}

.header__nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(235, 236, 238);
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    
}

.logo__img{
    width: 40px;
    height: 40px;
}
.nav{
    font-weight: bold;
    align-items: center;
    font-size: 14px;
}

span{
    color: #000;
    
}
    
.menu__item{
    margin-right: 50px;
}


.order__button{
    border: none;
    padding: 15px 50px;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header__title{
    position: relative;

    display: block;
    background-color: rgb(235, 236, 238);
    
}
.title__img{
    background-image: url(/img/title-background.png) no-repeat;
    background-color: rgb(235, 236, 238);
    // float: left;
    // height: 1000px; 
    // @media screen and (max-width: 1452px) {
    //     float:left;
    //     max-width: 1400px;
    // }  
    // margin-bottom: 90px; 
}
.title{
    text-align: center;
    position: absolute;
    width: 700px;
    top:310px; 
    
     
}


.title__text{
    font-size: 60px;
    color: #222222;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px;
}
.title__button{
	border: none;
	padding: 15px 50px;
	background-color: white;
	text-align: center;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;	
    
}

//Main

.about{
    text-align: center;
}
.about__title-text{
    padding: 40px 20px;
}
// .about__title-group{
//     display: flex;
//     justify-content: space-evenly;
// }

.about__small-block{
    img{
        width: 370px;
        height: 260px;
    }
}
// .small-block__text{
//     padding: 10px 50px;
// }
.about__title-grid{
    display: grid;
    grid-template-columns:  repeat(auto-fit, 480px);
    // grid-template-rows: 250px 250px 250px;
    text-align: left;
    
    .grid__item-text{
        padding: 60px;
        h2{
            margin-bottom: 18px;
        }
    }
    img{
        width: 480px;
        height: 280px;
    }
    :nth-child(6){
        grid-column-start: 3; 
        grid-row-start: 2;
        grid-row-end: 4;
        background-image: url(/img/space.png);
    }
    :nth-child(7) 
    {
        background-color: #f4f0eb;
        
    }
    :nth-child(8) 
    {
        background-color: #f4f0eb;
        
        img{
            width: 200px;
            height: 200px;
            

        }
    }
    .underline{
        width: 35px;
        border-bottom: solid black 2px;
        margin-bottom: 18px;
    }
}
