@import 'config';

* {
    font-family: "Ubuntu";
    outline: none !important;
}
.my-container {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    max-width: 1210px;
    text-align: center;
    @media screen and (max-width: 900px){
        padding: 0 50px;
    }
    @media screen and (max-width: 380px){
        padding: 0;
    }
}
.gutter-2.row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }
////////////////////////// HEADER ////////////////////////
.header {
//// navbar /////////
    .navbar {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    font-weight: bold;
                    .nav-link {
                        .link-text {
                            color: #333333;
                        }
                    } 
                }
                .menu__order {
                    .order {
                        .order__button {
                            @include main-button;
                        }  
                    }   
                }
            }
        }
    }
//// header__title /////////
    .header__title {
        width: 100%;
        height: 900px;
        background-color: rgb(235, 236, 238);
        background-image: url("/img/title-background.png");
        position: relative; 
        .title {
            text-align: center;
            position: absolute;
            top:410px;
            .title-text {
                color: #222222;
                margin-bottom: 60px;
            }
            .title__button {
                @include main-button;  
            }
        } 
    }
}

////////////////////////// MAIN ////////////////////////
.main {
    .about { 
//////// about__header /////////
        .about__header {  
            // max-width: 200px;
            margin-bottom: 140px;
            .about__title {
                padding-top: 100px;
                .about__title-text {
                    padding: 35px;
                }
            } 
            .about__header-group{
                .about__header-article{
                    .article-img{
                        width: 100%;
                    }
                }
            }
        }
//////// about__grid /////////
        .about__grid { 
            .grid__item-text {
                height: 400px;
                .grid-h2::after {
                    width: 40px;
                    border-bottom: 2px solid #000;
                    margin-bottom: 20px;
                }
            }
            // .grid__item-img {
                
            // } 
            // .goal-top {
                
            // }
            // .goal-bottom {
                
            // } 
        }
//////// about__demo /////////
        .about__demo {
            .demo__block {
                .demo-img {
                    width: 100%;
                }
                .demo__title {
                    max-width: 400px;
                    @media screen and (max-width: 400px){
                        padding: 0;
                    }
                    .demo__title-p{
                        padding: 25px 0;
                        font-size: 24px;
                        @media screen and (max-width: 400px){
                            font-size: 14px;
                        }
                    }
                    .demo__title-description {
                        margin-bottom: 60px;
                        .description-item {
                            display: inline-flex;
                            
                            .description__icon {
                                width: 80px;
                                height: 80px;
                                fill:#c89d28;
                            }
                            .description-title{
                                padding: 0 30px;
                                .description-h3{
                                    font-weight: 400;
                                }
                                .description-p{
                                    font-size: 14px;
                                    padding: 15px 0;
                                }
                            }
                        }
                    }
                    .description-button {
                        @include main-button;
                        width: 100%;
                        max-width: 270px;
                        background-color: #e5e1e1;    
                    }
                }  
            }
        }
/////// about__price /////////
        .about__price {
            background-image: url("/img/price-bg.png");
            background-repeat: no-repeat;
            background-color: #0f0f0f;
            
            color: white;
            .price__title {
                margin-bottom: 100px;
            }
            .price__group {
                .price__item {
                    // max-width: 250px;
                    margin-bottom: 150px;
                    .item__title {
                        display: inline-flex;
                        font-size: 64px;
                        color: #c89d28;
                        font-weight: 100;
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        .price-currency {
                            padding-top: 15px;
                            font-size: 30px;
                            font-family: 'Lato', sans-serif;   
                        }
                        .price-value {
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                        }
                    }
                    .price-p {
                        padding: 40px 10px;
                    }
                    .price-button {
                        @include main-button;
                        // max-width: 250px;
                    }
                }
            }
        }
//////// about__news /////////
        .about__news {
            background-color: #e8e9ea;
            // padding: 100px 50px;
            .news-container {
                .news__block-top {
                    position: relative;
                    margin-bottom: 60px;
                    .news__block-img {
                        width: 100%; 
                    }
                    .news__block-title {
                        position: absolute;
                        top: 50%;
                        font-size: 30px;
                        color: #ffffff;
                        font-weight: 300;
                        font-family: "Ubuntu";
                        text-align: center;
                        padding: 0 80px;
                        .news__block-p {
                            font-size: 11px;
                            letter-spacing: 1px;
                            color: #cccccc;
                            font-weight: 300;
                            font-family: "Ubuntu";
                            text-align: center;
                            text-transform: uppercase;
                            .news-author {
                                color: #c89d28;
                            }
                        }
                    }
                    .news-label{
                        .lebel-text {
                            @include main-button;
                            padding: 15px 25px;
                            background-color: #8d7431;
                            font-size: 10px;
                            color: #ffffff;
                            font-weight: 700;
                            font-family: "Ubuntu";
                            text-align: center;  
                        } 
                    } 
                }
                .news__block {
                    .news__block-container {
                        .news__subblock {
                            position: relative;
                            .news__block-img {
                                width: 100%;
                                height: 67%;
                                object-fit:cover;  
                            }
                            .news__block-text {
                                padding: 25px 0;
                            }
                            .news-label {
                                position: absolute;
                                top: 15px;
                                left: 25px;
                                .lebel-text {
                                    @include main-button;
                                    padding: 15px 25px;
                                    background-color: #8d7431;
                                    font-size: 10px;
                                    color: #ffffff;
                                    font-weight: 700;
                                    font-family: "Ubuntu";
                                    text-align: center; 
                                }
                            }
                        }
                    }   
                }   
            }
            .news__button {
                @include main-button;
                // max-width: 270px;
            } 
        }
//////// about__privilege /////////
        .about__privilege {
            .privilege__desription {
                .privilege__title {

                    .privilege-h3 {

                        color: #000000;

                    }
                    .privilege-p {
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;

                        font-family: "Ubuntu";
                    }
                } 
            }
            .privilege__items {
                .privilege {
                    .privilege__title {
                        display: flex;
                        .privilege-icon{
                            .privilege-svg {
                                width: 50px;
                                height: 50px;
                                fill: #c79d27;
                            }
                        }
                        
                        .privilege-text {
                            .privilege-h3 {
                                color: #000000;
                                
                            }
                            .privilege-p {
                                font-size: 16px;
                                color: #000000;
                            }
                        }
                    }
                }
            }    
        }
//////// about__facts /////////
        .about__facts {
            background-image: url("/img/price-bg.png");
            background-repeat: no-repeat;
            background-color: #0f0f0f;
            
            color: white;
            .facts__title {
                margin-bottom: 100px;
            }
            .facts__group {
                padding: 0 150px;
                @media screen and (max-width: 400px){
                    padding: 0;
                }
                .facts__item {
                    .facts-title {
                        font-size: 48px; 
                        .facts-value {
                            font-size: 64px;
                            color: #c89d28;
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                            font-weight: 100;
                        }
                        .facts-text {
                            font-size: 18px;
                        }
                    }
                }
            }
            .facts__h3 {
                // max-width: 811px;
                color: #999999;
                font-weight: 300;
                text-align: center;
                margin: 0 auto;
                padding: 0 25px;
            }
        }
//////// about__reviews /////////
        .about__reviews {
            padding: 70px 0;
            .reviews__h3 {
                color: #333333;
                font-weight: 300;
                padding: 150px 0 80px 0;
            }
            .carousel {
                .carousel-inner {
        
                    .carousel-item {
                        .reviews__icons {
                            // max-width: 1500px;
                            margin: 0 auto;
                            .icons-item {
                                width: 50px;
                                height: 50px;
                            } 
                        }
                    }
                    .reviews__comment {
                        padding-top: 120px;
                        // max-width: 709px;
                        margin: 0 auto;
                        box-sizing: border-box;
                        .comment-text {
                            height: 127px;
                            font-size: 22px;
                            line-height: 27px;
                            color: #333333;
                        }
                        .comment-from {
                            .comment-author {
                                text-transform: uppercase;
                                font-weight: bold; 
                            }
                            .comment-place  {
                                color: #999999;
                            }
                        }
                    }  
                }
                .reviews__control-block {
                    padding: 50px 0;
                }
            }   
        }
    }
}
////////////////////////// FOOTER ////////////////////////
.footer {
//// footer__title /////////
    .footer__title {
        height: 430px;
        padding: 120px 0;
        background-image: url("/img/footer-title.png");
        background-size: cover;
        color: #ffffff;
        .footer-h3 {
            margin-bottom: 20px;
        }
        .footer-button {
            @include main-button;
        }
    }
//// footer__contacts /////////
    .footer__contacts {
        color: #ffffff;
        background-color: #0d0d0d;
        padding: 120px 0;
        .contacts__social { 
            padding-top: 70px;
            // max-width: 500px;
            .social-h2 {     
                margin-bottom: 42px;
                text-transform: uppercase;
                
            }
            .social-p {
                margin-bottom: 30px;
                color: #666666;
            }
            .services-h2 {
                margin-bottom: 42px;
                text-transform: uppercase;
            }
            .social-icons {
                .social-link {
                    padding-right: 30px;
                    .social-icon {
                        width: 20px;
                        height: 20px;
                        fill: #ffffff;
                    } 
                }
            }
            .footer__signature {
                margin-top: 150px;
                color: #ffffff;
                display: inline-flex;
                text-transform: uppercase;
                .signature-link {
                    color:#c89d28;
                    &:hover {
                        text-decoration: none;   
                    }
                }
            }
        }
        .contacts__services {  
            padding-top: 70px;
            // max-width: 500px;
            .servisec-block {
                .services-link {   
                    .services-text {
                        color:#ffffff;
                    }     
                    &:hover {
                        text-decoration: none;
                    }       
                } 
            }
        }
    }
}

