@import 'config';

// CUSTOM USER STYLES & IMPORTS
*{
    font-family: "Ubuntu";
}
.navbar{
    font-weight: bold;
}
.link__text{
    color: #333333;
}
.order__button{
    @include main-button;
}

.header__title{
    width: 100%;
    height: 900px;
    background-color: rgb(235, 236, 238);
    background-image: url(/img/title-background.png);
    position: relative; 
}

.title{
    text-align: center;
    position: absolute;
    top:410px; 
}

.title__text{
    font-size: 60px;
    color: #222222;
    font-weight: 300;
    margin-bottom: 60px;
}
.title__button{
	@include main-button;  
}
.about__header{
    max-width: 1200px;
    margin-bottom: 140px;
}
.about__title{
    padding-top: 100px;
}
.about__title-text{
    padding: 35px;
}

.grid__item{
    height: 400px;
    padding: 0;
}
.demo__block{
    padding: 180px 0;
}
.demo-img{
    width: 100%;
}
.demo__title{
    padding: 0 100px;
}

.description__icon{
    background-image: url(/img/demo-icon.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
}
.description-item{
    display: inline-flex;
}

.voice{
    background-position: 0 0;
}

.music{
    background-position: 0 -135px;
}

.water{
    background-position: 0 -270px;
}

.description-button{
    @include main-button;
    width: 264px;
    background-color: #e5e1e1;
    
}

.about__price{
    background-image: url(/img/price-bg.png);
    background-repeat: no-repeat;
    background-color: #0f0f0f;
    padding: 250px 0px;

}
.about__price{
    color: white;
}
.price__item{
    padding-bottom: 100px;
}
.price__title{
    padding-bottom: 140px;
}
.price-title{
    display: inline-flex;
    font-size: 64px;
    color: #c89d28;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.price-currency{
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;   
}
.price-value{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.price-text{
    padding: 40px 90px;
}

.price-button{
    @include main-button;
    width: 250px;
}

.about__news{
    background: #e8e9ea;
    // padding: 100px 50px;
}
.news__block-img{
    width: 90%;
    height: 67%;
    object-fit:cover;  
}


.news__button{
    @include main-button;
    width: 270px

}

.about__privilege{
    max-width: 1200px;
}