@import 'config';

* {
    font-family: "Ubuntu";
    outline: none !important;
}
a {
    display: block;
}


////////////////////////// HEADER ////////////////////////
.header {
//// navbar /////////
    .navbar {
        .navbar-collapse {
            padding-left: 6px;
            .navbar-nav {
                .nav-item {
                    font-weight: bold;
                    .nav-link {
                        .nav-text {
                            color: #333333;
                        }
                    } 
                }
                .nav__order {
                    .nav__button {
                        @include main-button;
                        @media screen and (max-width: 992px) {
                            width: 100%;
                        }
                    }     
                }
            }
        }
    }
//// header__content /////////
    .header__content {
        width: 100%;
        height: 900px;
        background-color: rgb(235, 236, 238);
        background-image: url("../../img/title-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        position: relative;
        @media screen and (max-width: 992px) {
            height: 680px;
        }
        .content__wrapper {
            text-align: center;
            position: absolute;
            top:360px;
            padding-left: 120px;
            
            @media screen and (max-width: 1212px) {
                padding-left: 20px;
            }
            @media screen and (max-width: 992px) {
                top:130px;
                padding-left: 20px;
            }
            @media screen and (max-width: 500px) {
                top:80px;
                padding-left: 20px;
            }
            .content__title{
                color: #222222;
            }
            .content__button {
                @include main-button;  
                @media screen and (max-width: 500px) {
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                }
            }
        } 
        
    }
}
////////////////////////// MAIN ////////////////////////
.main {
    .about { 
//////// about__header /////////
        .about__top {  
            padding: 90px 0;
            } 
            .top__group {
                .group__article {
                    .article-img {
                        width: 100%;
                    }
                    .article__header {
                        padding: 35px;
                    }
                    
                }
            }
//////// about__grid /////////
        .about__grid { 
            .grid__item--text {
                height: 400px;
                padding: 133px 144px 0 144px;
                background-color: #f8f8f8;
                @media screen and (max-width: 1510px) {
                    padding: 133px 30px;
                }
                .item__description {
                    .item-title {
                        margin-bottom: 50px;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            top: 50px;
                            left: 0;
                            width: 40px;
                            border-bottom: 2px solid #000;
                        }
                    }
                }
            }
            .is-sand {
                background-color: #f4f0eb;
            }
            .grid__item--img {
                height: 400px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
                
            }
            .girl {
                background-image: url("../../img/girl.png");
            }
            .comunity {
                background-image: url("../../img/comunity.png");
            }
            .goal {
                background-image: url("../../img/space.png");
                background-size: auto;
                @media screen and (max-width: 991px) {
                    background-size: 100%;
                }
                @media screen and (max-width: 640px) {
                    background-size: 160%;
                }
                @media screen and (max-width: 400px) {
                    background-size: 210%;
                }
            }
            .is-bottom {
                color: #cccccc;
                background-position-y: -400px;
                background-position-x: center;
                .item__description{
                    .item-title {
                        &:after{
                            border-color: #cccccc;
                        }
                    }
                }   
            }
            .cup {
                background-image: url("../../img/cup.png");
                background-size: auto 100%;
            }
            
        }
//////// about__demo /////////
        .about__demo {
            @media screen and (max-width: 992px) {
                padding: 150px 0;
            }
            .demo__block {
                @media screen and (max-width: 992px) {
                    margin-bottom: 50px;
                }
                .demo-img {
                    width: 100%;
                }
                .demo__description {
                    max-width: 400px;
                    @media screen and (max-width: 992px) {
                        padding: 0;
                    }
                    .demo__description-text {
                        font-size: 24px;
                        @media screen and (max-width: 992px) {
                            font-size: 14px;
                        }
                    }
                    .description__items {
                        .description__item {
                            display: inline-flex;
                            .description__icon {
                                width: 80px;
                                height: 80px;
                                fill:#c89d28;
                            }
                            .description__item-header {
                                padding: 0 30px;
                                .description__item-title {
                                    font-weight: 400;
                                    margin-bottom: 10px;
                                }
                                .description__item-text {
                                    font-size: 14px;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }    
                }
                .demo__button {
                    @media screen and (max-width: 992px) {
                        text-align: center;
                    }
                    .demo__button-text {
                        @include main-button;
                        width: 100%;
                        max-width: 270px;
                        background-color: #e5e1e1;
                    }
                }    
            }
        }
/////// about__price /////////
        .about__price {
            background-image: url("../../img/price-bg.png");
            background-repeat: no-repeat;
            background-color: #0f0f0f;
            color: white;
            @media screen and (max-width: 992px){
                padding: 150px 0;
            }
            .price__title {
                margin-bottom: 100px;
            }
            .price__group {
                .price__item {
                    margin-bottom: 150px;
                    .price__item-header {
                        display: inline-flex;
                        font-size: 64px;
                        color: #c89d28;
                        font-weight: 100;
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        .price__item-currency {
                            padding-top: 15px;
                            font-size: 30px;
                            font-family: 'Lato', sans-serif;   
                        }
                        .price__item-value {
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                        }
                    }
                    .price__item-text {
                        padding: 0 10px;
                        margin-bottom: 40px;
                        color: #999999;
                    }
                    .price__button {
                        @include main-button;
                        width: 207px;
                    }
                }
            }
        }
//////// about__news /////////
        .about__news {
            background-color: #e8e9ea;
            .news__header {
                margin-bottom: 67px;
            }
            .news__label {
                position: absolute;
                top: 15px;
                left: 25px;
                .news__label-text {
                    @include main-button;
                    padding: 15px 25px;
                    background-color: #8d7431;
                    font-size: 10px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Ubuntu";
                    text-align: center; 
                }
            }
            .news__container {
                .news__block--top {
                    position: relative;
                    @media screen and (max-width: 992px) {
                        padding-bottom: 100px;
                    }
                    .news__item-img {
                        background-image: url("../../img/wordpress.png");
                        width: 100%;
                        min-height: 600px;
                    }
                    .news__item-header {
                        position: absolute;
                        top: 280px;
                        font-size: 30px;
                        color: #ffffff;
                        font-weight: 300;
                        font-family: "Ubuntu";
                        text-align: center;
                        padding: 0 80px;
                        .news__item-text {
                            font-size: 11px;
                            letter-spacing: 1px;
                            color: #cccccc;
                            font-weight: 300;
                            font-family: "Ubuntu";
                            text-align: center;
                            text-transform: uppercase;
                            .news__item-author {
                                color: #c89d28;
                            }
                        }
                    }
                }
                .news__block {
                    .news__items {
                        .news__item{
                            position: relative;
                            .news__item-img {
                                width: 100%;
                                height: 67%;
                                object-fit: cover; 
                            }
                            .news__item-text {
                                color: #333333;
                            }
                        }
                    }   
                }   
            }
            .news__button {
                @include main-button;
            } 
        }
//////// about__privilege /////////
        .about__privilege {
            @media screen and (max-width: 992px) {
                padding: 100px 0;
            }
            .privilege__description {
                margin-bottom: 100px;
                @media screen and (max-width: 992px) {
                    margin-bottom: 50px;
                }
            }
            .privilege__items {
                .privilege {
                    min-height: 200px;
                    margin-bottom: 55px;
                    display: flex;  
                    .privilege-icon{
                        padding-right: 29px;
                        .privilege-svg {
                            width: 50px;
                            height: 50px;
                            fill: #c79d27;
                        }
                    }
                    .privilege__header {
                        .privilege-title {
                            color: #000000;    
                        }
                        .privilege-text {
                            font-size: 16px;
                            color: #000000;
                        }
                    }   
                }
            }    
        }
//////// about__facts /////////
        .about__facts {
            background-image: url("../../img/price-bg.png");
            background-repeat: no-repeat;
            background-color: #0f0f0f;
            color: #ffffff;
            @media screen and (max-width: 400px) {
                padding: 150px 0;
            }
            .facts__title {
                margin-bottom: 100px;
            }
            .facts__items {
                padding: 0 75px;
                @media screen and (max-width: 400px) {
                    padding: 0;
                }
                .facts__item {
                    margin-bottom: 122px;
                    .facts__item-header {
                        font-size: 48px; 
                        .facts__item-value {
                            font-size: 64px;
                            color: #c89d28;
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                            font-weight: 100;
                        }
                        .facts__item-text {
                            font-size: 18px;
                        }
                    }
                }
            }
            .facts-description {
                color: #999999;
                text-align: center;
                margin: 0 auto;
                padding: 0 25px;
            }
        }
//////// about__reviews /////////
        .about__reviews {
            @media screen and (max-width: 992px) {
                padding: 50px 0;
            }
            .reviews-title {
                color: #333333;
                font-weight: 300;
                margin-bottom: 80px;
            }
            .carousel {
                .carousel-inner {
                    margin-bottom: 55px;
                    .carousel-item {
                        .reviews__icons {
                            justify-content: space-between;
                            margin-bottom: 135px;
                            @media screen and (max-width: 992px) {
                                justify-content: center;
                                margin-bottom: 35px;
                            }
                            .reviews-item {
                                width: 150px;
                                height: 150px;
                                @media screen and (max-width: 992px) {
                                    width: 50px;
                                    height: 50px; 
                                    margin-bottom: 50px; 
                                }
                            } 
                        }
                    }
                    .reviews__comment {
                        max-width: 709px;
                        margin: 0 auto;
                        box-sizing: border-box;
                        .comment-text {
                            height: 150px;
                            font-size: 22px;
                            line-height: 27px;
                            color: #333333;
                        }
                        .comment-from {
                            .comment-author {
                                text-transform: uppercase;
                                font-weight: bold; 
                                padding-left: 80px;
                                @media screen and (max-width: 992px) {
                                    padding: 0;
                                }
                            }
                            .comment-place {
                                color: #999999;
                            }
                        }
                    }  
                }
            }   
        }
//////// about__contact /////////
        .about__contact {
            .contact__header {
                background-image: url("../../img/footer-title.png");
                background-size: cover;
                color: #ffffff;
                .contact-title{
                    margin-bottom: 30px;
                    @media screen and (max-width: 992px){
                        font-size: 32px;
                    }
                }
                .contact-text {
                    color: #cccccc;
                    font-weight: 300;
                    @media screen and (max-width: 992px){
                        font-size: 20px;
                    }
                }
                .contact__button {
                    @include main-button;
                }
            }
        }   
    } 
}
////////////////////////// FOOTER ////////////////////////
.footer {   
    color: #ffffff;
    background-color: #0d0d0d;
    padding: 180px 0;
    .footer__social { 
        @media screen and (max-width: 992px) {
            margin-bottom: 50px;
            padding: 0;
            text-align: center;
        }
        .social__header{
            .social-title {     
                margin-bottom: 42px;
                text-transform: uppercase;   
            }
            .social-text {
                margin-bottom: 30px;
                color: #666666;
            }
        }
        .services__header {
            margin-bottom: 42px;
            text-transform: uppercase;
        }
        .social-icons {
            margin-bottom: 160px;
            display: flex;
            @media screen and (max-width: 992px) {
                margin-bottom: 50px;
                justify-content: center;
            }
            .social-link {
                margin-right: 30px;
                width: 20px;
                height: 20px;
                .social-icon {
                    width: 20px;
                    height: 20px;
                    fill: #666666;
                } 
            }
        }
        .footer__signature {
            color: #666666;
            display: inline-flex;
            text-transform: uppercase;
            .signature-link {
                color:#c89d28;
                &:hover {
                    text-decoration: none;   
                }
            }
        }
    }
    .contacts__services {
        padding: 0;
        @media screen and (max-width: 992px) {
            padding: 0;
        }
        .servisec__block {
            @media screen and (max-width: 992px) {
                margin-bottom:50px;
                text-align: center;
            }
            .services-link {   
                .services-text {
                    color: #666666;
                }     
                &:hover {
                    text-decoration: none;
                }       
            } 
        }
    }
}

