@import 'config';

// CUSTOM USER STYLES & IMPORTS
*{
    font-family: "Ubuntu";
}


// .navbar{
//     background-color: rgb(235, 236, 238);
// }

.logo__img{
    width: 40px;
    height: 40px;
}



.order__button{
    @include main-button;
}

.header__title{
    width: 100%;
    height: 900px;
    background-color: rgb(235, 236, 238);
    background-image: url(/img/title-background.png);
    position: relative; 
}

.title{
    text-align: center;
    position: absolute;
    width: 700px;
    top:310px; 
}

.title__text{
    font-size: 60px;
    color: #222222;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px;
}
.title__button{
	@include main-button;
    
}

// Main

