@import 'config';

* {
    font-family: "Ubuntu";
    outline: none !important;
}
.my-container {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    max-width: 1210px;
    text-align: center;
    @media screen and (max-width: 992px){
        padding: 0 10px;
    }
}
.gutter-2.row {
    margin: 0;
  }
  .gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
    padding: 0;
  }
////////////////////////// HEADER ////////////////////////
.header {
//// navbar /////////
    .navbar {
        .navbar-collapse {
            padding-left: 6px;
            .navbar-nav {
                .nav-item {
                    font-weight: bold;
                    .nav-link {
                        .link-text {
                            color: #333333;
                        }
                    } 
                }
                .menu__order {
                    .order {
                        .order__button {
                            @include main-button;
                            @media screen and (max-width: 992px) {
                                width: 100%;
                            }
                        }  
                    }   
                }
            }
        }
    }
//// header__title /////////
    .header__title {
        width: 100%;
        height: 900px;
        background-color: rgb(235, 236, 238);
        background-image: url("img/title-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        position: relative;
        @media screen and (max-width: 992px) {
            height: 680px;
        }
        .title {
            text-align: center;
            position: absolute;
            top:360px;
            padding-left: 120px;
            @media screen and (max-width: 992px) {
                top:130px;
                padding-left: 20px;
            }
            .title-text {
                color: #222222;
                margin-bottom: 50px;
            }
            .title__button {
                @include main-button;  
            }
        } 
    }
}
////////////////////////// MAIN ////////////////////////
.main {
    .about { 
//////// about__header /////////
        .about__header {  
            padding: 90px 0;
            .about__title {
                .about__title-text {
                    padding: 35px;
                }
            } 
            .about__header-group {
                .about__header-article {
                    .article-title {
                        padding: 35px;
                    }
                    .article-img {
                        width: 100%;
                    }
                }
            }
        }
//////// about__grid /////////
        .about__grid { 
            .grid__item {
                height: 400px;
            }
            .grid__item-text {
                padding: 133px 144px;
                background-color: #f8f8f8;
                @media screen and (max-width: 1510px) {
                    padding: 133px 30px;
                }
                .item-text {
                    .grid-h2 {
                        margin-bottom: 20px;
                    }
                }
                .grid-underline { 
                    width: 40px;
                    border-bottom: 2px solid #000;
                    margin-bottom: 30px;
                }
            }
            .is-sand {
                background-color: #f4f0eb;
            }
            .grid__item-img {
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: center;
                
            }
            .girl {
                background-image: url(/img/girl.png);
            }
            .comunity {
                background-image: url(/img/comunity.png);
            }
            .goal {
                background-image: url(/img/space.png);
                background-size: auto;
                @media screen and (max-width: 992px) {
                    background-size: 100%;
                }
                @media screen and (max-width: 640px) {
                    background-size: 160%;
                }
                @media screen and (max-width: 400px) {
                    background-size: 210%;
                }
            }
            .is-bottom {
                color: #cccccc;
                background-position-y: -400px;
                background-position-x: center;
                .grid-underline {
                    border-color: #cccccc;
                }
            }
            .cup {
                background-image: url(/img/cup.png);
                background-size: auto 100%;
            }
            
        }
//////// about__demo /////////
        .about__demo {
            padding: 183px 0 230px 0;
            @media screen and (max-width: 992px) {
                padding: 150px 0;
            }
            .demo__block {
                .demo-img {
                    width: 100%;
                }
                .demo__title {
                    max-width: 400px;
                    @media screen and (max-width: 992px) {
                        padding: 0;
                    }
                    .demo__title-p {
                        padding: 25px 0;
                        font-size: 24px;
                        @media screen and (max-width: 992px) {
                            font-size: 14px;
                        }
                    }
                    .demo__title-description {
                        margin-bottom: 60px;
                        .description-item {
                            display: inline-flex;
                            .description__icon {
                                width: 80px;
                                height: 80px;
                                fill:#c89d28;
                            }
                            .description-title {
                                padding: 0 30px;
                                .description-h3 {
                                    font-weight: 400;
                                }
                                .description-p {
                                    font-size: 14px;
                                    padding: 15px 0;
                                }
                            }
                        }
                    }    
                }
                .description-button {
                    @include main-button;
                    width: 100%;
                    max-width: 270px;
                    background-color: #e5e1e1;    
                }  
            }
        }
/////// about__price /////////
        .about__price {
            background-image: url("img/price-bg.png");
            background-repeat: no-repeat;
            background-color: #0f0f0f;
            padding: 240px 0 315px 0;
            color: white;
            @media screen and (max-width: 992px){
                padding: 150px 0;
            }
            .price__title {
                margin-bottom: 100px;
            }
            .price__group {
                .price__item {
                    margin-bottom: 150px;
                    .item__title {
                        display: inline-flex;
                        font-size: 64px;
                        color: #c89d28;
                        font-weight: 100;
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        .price-currency {
                            padding-top: 15px;
                            font-size: 30px;
                            font-family: 'Lato', sans-serif;   
                        }
                        .price-value {
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                        }
                    }
                    .price-p {
                        padding: 40px 10px;
                        color: #999999;
                    }
                    .price-button {
                        @include main-button;
                        width: 207px;
                    }
                }
            }
        }
//////// about__news /////////
        .about__news {
            background-color: #e8e9ea;
            padding: 140px 0 115px 0;
            .news-h2 {
                padding-bottom: 67px;
            }
            .news-label {
                position: absolute;
                top: 15px;
                left: 25px;
                .lebel-text {
                    @include main-button;
                    padding: 15px 25px;
                    background-color: #8d7431;
                    font-size: 10px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Ubuntu";
                    text-align: center; 
                }
            }
            .news-container {
                margin-bottom: 60px;
                .news__block-top {
                    position: relative;
                    margin-bottom: 60px;
                    @media screen and (max-width: 992px) {
                        padding-bottom: 100px;
                    }
                    .news__block-img {
                        background-image: url(/img/wordpress.png);
                        width: 100%;
                        min-height: 600px; 
                    }
                    .news__block-title {
                        position: absolute;
                        top: 280px;
                        font-size: 30px;
                        color: #ffffff;
                        font-weight: 300;
                        font-family: "Ubuntu";
                        text-align: center;
                        padding: 0 80px;
                        .news__block-p {
                            font-size: 11px;
                            letter-spacing: 1px;
                            color: #cccccc;
                            font-weight: 300;
                            font-family: "Ubuntu";
                            text-align: center;
                            text-transform: uppercase;
                            .news-author {
                                color: #c89d28;
                            }
                        }
                    }
                }
                .news__block {
                    .news__block-container {
                        .news__subblock {
                            position: relative;
                            @media screen and (max-width: 992px) {
                                padding-bottom: 100px;
                            }
                            .news__block-img {
                                width: 100%;
                                height: 67%;
                                object-fit:cover;  
                            }
                            .news__block-text {
                                padding: 25px 0;
                                color: #333333;
                            }
                        }
                    }   
                }   
            }
            .news__button {
                @include main-button;
            } 
        }
//////// about__privilege /////////
        .about__privilege {
            padding: 200px 0 100px 0;
            @media screen and (max-width: 992px) {
                padding: 100px 0;
            }
            .privilege__description {
                margin-bottom: 100px;
                @media screen and (max-width: 992px) {
                    margin-bottom: 50px;
                }
            }
            .privilege__items {
                .privilege {
                    min-height: 200px;
                    margin-bottom: 55px;
                    .privilege__title {
                        display: flex;
                        .privilege-icon{
                            padding-right: 29px;
                            .privilege-svg {
                                width: 50px;
                                height: 50px;
                                fill: #c79d27;
                            }
                        }
                        .privilege-text {
                            .privilege-h3 {
                                color: #000000;    
                            }
                            .privilege-p {
                                font-size: 16px;
                                color: #000000;
                            }
                        }
                    }
                }
            }    
        }
//////// about__facts /////////
        .about__facts {
            background-image: url("img/price-bg.png");
            background-repeat: no-repeat;
            background-color: #0f0f0f;
            color: #ffffff;
            padding: 250px 0 345px 0;
            @media screen and (max-width: 400px) {
                padding: 150px 0;
            }
            .facts__title {
                margin-bottom: 100px;
            }
            .facts__group {
                padding: 0 75px;
                @media screen and (max-width: 400px) {
                    padding: 0;
                }
                .facts__item {
                    margin-bottom: 122px;
                    .facts-title {
                        font-size: 48px; 
                        .facts-value {
                            font-size: 64px;
                            color: #c89d28;
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                            font-weight: 100;
                        }
                        .facts-text {
                            font-size: 18px;
                        }
                    }
                }
            }
            .facts__h3 {
                color: #999999;
                font-weight: 300;
                text-align: center;
                margin: 0 auto;
                padding: 0 25px;
            }
        }
//////// about__reviews /////////
        .about__reviews {
            padding: 145px 0;
            @media screen and (max-width: 992px) {
                padding: 50px 0;
            }
            .reviews__h3 {
                color: #333333;
                font-weight: 300;
                margin-bottom: 80px;
            }
            .carousel {
                .carousel-inner {
                    margin-bottom: 55px;
                    .carousel-item {
                        .reviews__icons {
                            justify-content: space-between;
                            margin-bottom: 135px;
                            @media screen and (max-width: 992px) {
                                justify-content: center;
                                margin-bottom: 35px;
                            }
                            .icons-item {
                                width: 150px;
                                height: 150px;
                                @media screen and (max-width: 992px) {
                                    width: 50px;
                                    height: 50px; 
                                    margin-bottom: 50px; 
                                }
                            } 
                        }
                    }
                    .reviews__comment {
                        max-width: 709px;
                        margin: 0 auto;
                        box-sizing: border-box;
                        .comment-text {
                            height: 150px;
                            font-size: 22px;
                            line-height: 27px;
                            color: #333333;
                        }
                        .comment-from {
                            .comment-author {
                                text-transform: uppercase;
                                font-weight: bold; 
                                padding-left: 80px;
                                @media screen and (max-width: 992px) {
                                    padding: 0;
                                }
                            }
                            .comment-place {
                                color: #999999;
                            }
                        }
                    }  
                }
            }   
        }
    }
}
////////////////////////// FOOTER ////////////////////////
.footer {
//// footer__title /////////
    .footer__title {
        padding: 120px 20px 150px;
        background-image: url("img/footer-title.png");
        background-size: cover;
        color: #ffffff;
        .footer-h2{
            margin-bottom: 30px;
        }
        .footer-h3 {
            margin-bottom: 25px;
            color: #cccccc;
            font-weight: 300;
        }
        .footer-button {
            @include main-button;
        }
    }
//// footer__contacts /////////
    .footer__contacts {
        color: #ffffff;
        background-color: #0d0d0d;
        padding: 170px 0 130px;
        .contacts__social { 
            padding-right: 120px;
            @media screen and (max-width: 992px) {
                margin-bottom: 50px;
                padding: 0;
                text-align: center;
            }
            .social-h2 {     
                margin-bottom: 42px;
                text-transform: uppercase;
                
            }
            .social-p {
                margin-bottom: 30px;
                color: #666666;
            }
            .services-h2 {
                margin-bottom: 42px;
                text-transform: uppercase;
            }
            .social-icons {
                margin-bottom: 160px;
                padding-right: 50px;
                @media screen and (max-width: 992px) {
                    margin-bottom: 50px;
                }
                .social-link {
                    padding-right: 30px;
                    .social-icon {
                        width: 20px;
                        height: 20px;
                        fill: #666666;
                    } 
                }
            }
            .footer__signature {
                color: #666666;
                display: inline-flex;
                text-transform: uppercase;
                .signature-link {
                    color:#c89d28;
                    &:hover {
                        text-decoration: none;   
                    }
                }
            }
        }
        .contacts__services {
            padding-left: 120px;
            @media screen and (max-width: 992px) {
                padding: 0;
            }
            .servisec-block {
                @media screen and (max-width: 992px) {
                    margin-bottom:50px;
                    text-align: center;
                }
                .services-h2 {
                    margin-bottom: 35px;
                }
                .services-link {   
                    .services-text {
                        color: #666666;
                    }     
                    &:hover {
                        text-decoration: none;
                    }       
                } 
            }
        }
    }
}

