@import 'config';

// CUSTOM USER STYLES & IMPORTS
*{
    font-family: "Ubuntu";
}
.navbar{
    font-weight: bold;
}
.link__text{
    color: #333333;
}
.order__button{
    @include main-button;
}

.header__title{
    width: 100%;
    height: 900px;
    background-color: rgb(235, 236, 238);
    background-image: url(/img/title-background.png);
    position: relative; 
}

.title{
    text-align: center;
    position: absolute;
    top:410px; 
}

.title__text{
    font-size: 60px;
    color: #222222;
    font-weight: 300;
    margin-bottom: 60px;
}
.title__button{
	@include main-button;  
}
.about__header{
    max-width: 1200px;
    margin-bottom: 140px;
}
.about__title{
    padding-top: 100px;
}
.about__title-text{
    padding: 35px;
}

.grid__item{
    
    padding: 0;
}
